.container{
    width:300px;
    height:250px;
    background-color: #7B68EE;
    border-radius: 1rem;
}

.container:hover{
    transform: scale(1.1);
    background-color: #4169E1;

}

.degree{
    color:pink;
    
}

